@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap'); /* Importing Google Fonts */

/* Light mode styles */
body {
    --text: #333333;
    --background: #F8FAFC;
    --primary: #0EA5E9;
    --highlight: #0ea4e980;
    background-color: var(--background);
    color: var(--text);
    font-family: 'Fira Code', monospace;
}

/* Dark mode styles */
body.dark-mode {
    --background: #333333;
    --text: #F8FAFC;
    --primary: #0EA5E9;
    --highlight: #0ea4e980;
}

/* Hero section styles */
.Universal__Hero {
    background: url('/assets/images/Hero_Product.webp') center/cover no-repeat;
    height: 400px;
    background-attachment: fixed;
}

/* Initial state for product divs */
.ProductsMain div {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

/* Visible state for product divs */
.ProductsMain div.visible {
    opacity: 1;
    transform: translateY(0);
}

/* Main products container padding */
.ProductsMain .ProductsMain__Products {
    padding: 50px;
}

/* Border for all products except the last one */
.ProductsMain .ProductsMain__Products:not(:last-child) {
    border-bottom: 2px solid var(--highlight);
}

/* Product header title styles */
.ProductsMain .ProductsMain__Products .ProductsMain__Products--Header .ProductsMain__Products--Header__Title {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
    color: var(--primary);
}

/* Product header subtitle styles */
.ProductsMain .ProductsMain__Products .ProductsMain__Products--Header .ProductsMain__Products--Header__SubTitle {
    font-size: 20px;
    font-weight: bolder;
    text-align: start;
    color: var(--text);
    padding: 10px;
}

/* Product card styles */
.ProductsMain .ProductsMain__Products .ProductsMain__Products--Card {
    background-color: var(--text);
    color: var(--background);
    border-radius: 10px;
    border: 2px solid var(--primary);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Product card body padding */
.ProductsMain .ProductsMain__Products .ProductsMain__Products--Card .ProductsMain__Products--CardBody-body {
    padding: 40px;
}

/* Product card title color */
.ProductsMain .ProductsMain__Products .ProductsMain__Products--Card .ProductsMain__Products--CardTitle {
    color: var(--primary);
}

/* Product card subtitle color */
.ProductsMain .ProductsMain__Products .ProductsMain__Products--Card .ProductsMain__Products--CardSubTitle {
    color: var(--highlight);
}

/* Buy button styles */
.ProductsMain .ProductsMain__Products .ProductsMain__Products--Card .ProductsMain__Products--CardBuy {
    background-color: var(--primary);
    border: 1px solid var(--background);
    color: var(--text);
    padding: 2px 10px;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

/* Buy button hover styles */
.ProductsMain .ProductsMain__Products .ProductsMain__Products--Card .ProductsMain__Products--CardBuy:hover {
    background-color: var(--text);
    color: var (--primary);
    border: 1px solid var(--primary);
}

/* Product card photo styles */
.ProductsMain .ProductsMain__Products .ProductsMain__Products--Card .ProductsMain__Products--CardPhoto {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

/* Product card hover effect */
.ProductsMain .ProductsMain__Products .ProductsMain__Products--Card:hover {
    transform: scale(1.025);
    transition: transform 0.35s;
    box-shadow: 10px 10px 10px rgba(51, 51, 51, 0.255);
}
